.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
}

.home-container-header {
    padding-top: 20px;
}

.home-title {
    font-size: 2.5rem;
    color: black;
    padding-top: 4rem;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    width: 10px;
    color: black;
    animation: blink 0.8s infinite;
}

.welcome-text {
    color: black;
}

.typed-title {
    color: rgb(0, 62, 248);
}
@keyframes blink {
    0%, 100%{
        opacity: 1;
    } 50% {
        opacity: 0;
    }
}

.home-container-paragraph {
    margin-top: -20px;
}

.paragraph-content {
    font-size: 1.5rem;
}

.paragraph-content-second {
    font-size: 1.3rem;
}

.learn-more-container {
    padding-top: 40px;
}

.about-us-btn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(7, 160, 255);
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about-us-btn:hover {
    background-color: rgb(2, 80, 175);
}

@media (max-width: 768px) {

    .about-us-overview {
        padding: 60px 20px;
    }

    .about-us-header {
      font-size: 36px;
    }
  
    .overview-text {
      font-size: 18px;
    }
  
    .message-text {
      width: 100%;
      font-size: 16px;
    }
  
    .overview-message {
      width: 90%;
      padding: 20px;
    }
  
    .footer-content {
      font-size: 16px;
    }
}