.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    width: 900px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.carousel-card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(145deg, #ffffff, #f8fbff);
    border-radius: 15px;
    box-shadow: 18px 15px 20px rgba(31, 75, 135, 0.1);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid rgb(0, 89, 255);
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.carousel-card.active {
    transform: translateX(0) scale(1);
    opacity: 1;
}

.carousel-card:not(.active) {
    opacity: 0.5;
}

.card-year {
    font-size: 4rem;
    color: rgb(0, 89, 255);
    letter-spacing: 2.5px;
}

.card-year:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 40px;
    height: 3px;
}

.card-title {
    font-size: 3rem;
}

.card-description {
    font-size: 1.5rem;
    margin-top: -20px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    color: rgb(0, 89, 255);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.551);
    background-color: #fff;
}

.prev-arrow {
    left: 280px;
}

.next-arrow {
    right: 80px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 30px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: hsl(220, 100%, 85%);
    transition: all .3s ease;
}

.carousel-dot.active {
    background-color: rgb(0, 89, 255);
    transform: scale(1.5);
    opacity: 1;
}

@media (max-width: 768px) {
    .carousel-content {
        height: 340px;
    }

    .card-year {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-description {
        font-size: 1rem;
        margin-top: 20px;
        width: 50%;
    }

    .carousel-arrow {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 480px) {
    .carousel-content {
        height: 320px;
    }

    .card-year {
        font-size: 1.4rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-description {
        font-size: 1rem;
        margin-top: 20px;
        width: 50%;
    }

    .carousel-arrow {
        width: 40px;
        height: 40px;
    }
}